:javascript
  $(document).ready(function(){
    list = #{@list.inspect}
    var options = {
    series: {
     pie:{
       show: true,
       radius:1,
       label: {
    	 show: true,
    	 color: '#222',
    	 radius: 50,
    	 formatter: function(label, series){
    	   return '<div class="chart-label"> ' + Math.round(series.percent)+'%<br/>' + label + '</div>';
    	 }
       }	
     }
    }, legend:{show: false}
    }
    
    
    for(var i=0; i<list.length; i++) {
      console.log(list[i])
      getFileSystemUsage(list[i], i);
    }
    
    
    function getFileSystemUsage(partition, position) {
      console.log(partition)
      
      $.getJSON('filesystem', "partition="+partition, function(json) {
        var $container = $("#graph"+position);
        $container.before("<h5 class='center'>" + partition +"</h5>")
        $.plot($container, json, options);
      })
    }

  });

%h3 ARM{in} is a lightweight web adm{in} interface for ARM-based PCs
  
.row
  .span16
    .page-header
      %h4 File system
  - @partitions.each_with_index do |p, i|
    .span4
      .chart{:id => "graph#{i}"}

%br

.row
  .span16
    .page-header
      %h4 System informations
  .span16
    %h5 File System
    %table
      %tr
        %td Partition
        %td Size
        %td Used
        %td Avail
        %td Usage
        %td Mount point
      - @partitions.each do |p|
        %tr
          %td= p.partition
          %td= p.size
          %td= p.used
          %td= p.free
          %td= p.usage
          %td= p.mount
  .span16
    %h5 CPU usage in %
    = @cpu

  .span16
    %h5 RAM Usage


