:javascript
  $(document).ready(function(){
    list = "#{@list}"
  });

%h3 ARM{in} is a lightweight web adm{in} interface for ARM-based PCs

= @partitions.count
  
.row
  .span16
    .page-header
      %h4 File system
  - @partitions.each_with_index do |p, i|
    .span4
      .chart{:id => "graph#{i}"}

%br

.row
  .span16
    .page-header
      %h4 System informations
  .span16
    %h5 File System
    %table
      %tr
        %td Partition
        %td Size
        %td Used
        %td Avail
        %td Usage
        %td Mount point
      - @partitions.each do |p|
        %tr
          %td= p.partition
          %td= p.size
          %td= p.used
          %td= p.free
          %td= p.usage
          %td= p.mount
  .span16
    %h5 CPU usage in %
    = @cpu

  .span16
    %h5 RAM Usage


