.flash
  = @flash.inspect if @flash

%table.services
  %thead
    %tr
      %th {img}
      %th Service
      %th Status
      %th.right= input_tag :search, :class => "search", :value => " "
  %tbody
    %tr#noresults
      %td{:colspan => 3}
        %h6 No results!
    - @services.each do |s|
      %tr
        %td= image_tag 'warning-disabled.png'
        %td= s.name
        %td= s.status
        %td.right
          -if s.status == "running"
            = link_to "stop", " ", "data-pid" => s.pid, "data-name" => s.name, "data-action" => "stop", :remote => true
          - else
            = link_to "start", " ", "data-pid" => s.pid, "data-name" => s.name, "data-action" => "start", :update => 'services', :remote => true
