%div.flash{:class => (@cflash[:type] if @cflash)}= @cflash[:message].capitalize! if @cflash

.page-header
  %h3 Services

%table.services
  %thead
    %tr
      %th Service
      %th Status
      %th.right= input_tag :search, :class => "search", :value => " "
  %tbody
    %tr#noresults
      %td{:colspan => 2}
        %h6 No results!

    - @services.each do |s|
      %tr
        %td
          = image_tag 'warning-disabled.png'
          = image_tag 'wait.gif', :class=>"animation", :hidden=> true
          = s.name

        %td.status{:class=>("green" if s.status == "running")}= s.status
        %td.right
          -if s.status == "running"
            = link_to "stop", " ", :class=>"remoteLink", "data-name" => s.name, "data-action" => "stop", :remote => true
          - else
            = link_to "start", " ", :class=>"remoteLink", "data-name" => s.name, "data-action" => "start", :remote => true
