!!! Strict
%html
  %head
    %title= [@title, "Armin"].compact.join(" | ")
    = stylesheet_link_tag "/assets/application"
    = javascript_include_tag "/assets/application"
    = yield_content :include
  %body
    %div.topbar
      %div.topbar-inner
        %div.container
          %h3
            %a{:href=>"#"} ARM{in}
          %ul.nav
            %li= link_to 'Index', url_for(:index)
            %li= link_to "Running services", url_for(:services, :index), :class => "active"
            %li= link_to "Settings", url_for(:services, :settings)
          %ul.nav.secondary-nav
            %li
              %a reboot
            %li
              %a shutdown

    %div#yield.container= yield
