!!! Strict
%html
  %head
    %title= [@title, "Armin"].compact.join(" | ")
    = stylesheet_link_tag "/assets/application"
    = javascript_include_tag "/assets/application"
    = yield_content :include
  %body
    %div.container-fluid
      .sidebar
        %h2 Navigation
        %p= link_to 'Index', url_for(:index)
        %p= link_to "Running services", url_for(:services, :index), :class => "active"
        %p= link_to "Settings", url_for(:services, :settings)
      .content
        = yield
